@media (max-width: 991px){
    header {
        padding: 20px;
    }
    header .logo {
        max-width: 60px;
    }
    header ul {
        display: none;
    }
    header ul li a {
        margin: 5px 0;
        font-size: 1.5em;
     }
    section {
        padding: 20px 20px 120px;
    }
    .container  {
        flex-direction: column;
        margin-top: 100px;
    }
    .container .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .container .textBox {
        max-width: 100%;
    }
    .container .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .container .imgBox img {
        max-width: 300px;
    }
    .circle {
        clip-path: circle(400px at center bottom);
    }
    .thumb li img {
        max-width: 40px;
    }
    .sci {
        background: #017143;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    
    .toggle.active {
        position: fixed;
        right: 20px;
        background: url("../img/close.png")no-repeat;
        background-position: center;
    }
    
    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
}